html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: "Roboto Flex", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 0.8;
    /* font-family: "Manrope", sans-serif;*/
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1360px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    background-image: url('../images/background.jpg');
    /*background-image: image-set();*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: #FFFFFF;
}

.header__top {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    flex: 1 1 auto;
    justify-items: end;
    margin-right: 50px;
}

.menu__list {
    display: flex;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
    gap: 50px;
    letter-spacing: 0.05em;
    line-height: 0.85;
}

.header__wrapper {
    max-width: 640px;
    width: 100%;
    padding-top: 170px;
    padding-bottom: 135px;
    margin: 0 auto;
}

.header__text {
    font-size: 12px;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
    line-height: 0.85;
}

.header__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
}

.sports-categories {
    background-color: #F01B0D;
}

.sports-categories__list {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    gap: 50px;
    padding: 22px 0;
    justify-content: center;
    line-height: 0.875;
}

.sports-categories__item.swiper-slide {
    width: auto !important;
}

@media (max-width: 992px) {
    .menu {
        display: none;
    }
}

